.blog-article {
  max-width: 650px; margin: 0 auto;
  background: #fcfdff;
  border-radius: 10px;
  padding: 2em 1.3em;
  box-shadow: 0 2px 10px #e6e9f4;
}
.blog-article h1 {
  margin-top:0;
  color: #164194;
  font-size: 2em;
}
.blog-meta {
  color: #7b7fa4;
  font-size: 1em;
  margin: 0 0 1.5em 0;
}
